[Desktop Entry]
Name=Hello Again
GenericName=Heelo World App
Comment=Proves thet i can use Vala and Gtk
Categories=Utility;Education;
Exec=com.github.BroverBug.second_test
Icon=application-defaul-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=hello-Again
Keywords=Hello;World;Example;